html {
	height: 100%;
}
body {
	background-color: #200116;
	height: 95%;
}
p {
	color: white;
	font-size: 1vmax;
}
label {
	color: white;
	float: left;
}
.imgClass {
	width: 50vw;
	height: 50vh;
}
#topBar { 
	height: 15%;
	background-color: black; 
	text-align:center;
	color: #907AD6;
	border: 5px solid #2F195F;
	border-radius: 5px;
	border-style: outset;
}
#toolsBar {
	height: 5%;
	padding: 0px;
	background-color: black; 
	display: flex;
	border: 0.5vmin solid #2F195F;
	border-radius: 5px;
	border-style: outset;
}
#spacerDiv {
	width:33%;
}
#selectionDiv {
	width: 34%;
	height: 100%;
	display: flex;
	justify-content: center;

}
#quizDiv {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 33%;
	height: 100%;
}
.buttons {
	padding: 10px;
	background-color: lightblue; 
	text-align:center;
	float: left;
	border: 5px solid #2F195F;
	border-radius: 2px;
	border-style: outset;
}
#quizButton {
	float: right;
}
#galleryPage {
	flex-wrap: wrap;
}

.contentDiv {
	display: none;
}
#homePage {
	display: inline-flex;
}
#about0{
	display: flex;
	flex-wrap: wrap;
}
